@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
}

/* Hide scrollbar for cleaner UI */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}